.DS_Store
**/.DS_Store.DS_Store
In-class exercises/Practicum 1/.ipynb_checkpoints/Data exploration and data cleaning-checkpoint.ipynb
In-class exercises/Practicum 1/.ipynb_checkpoints/Introduction to Jupyter Notebooks-checkpoint.ipynb
In-class exercises/Practicum 1/.ipynb_checkpoints/Summarizing data-checkpoint.ipynb
